.cta {
  .cta__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    .cta__link {
      background: var(--container-color);
      border: 1px solid hsl(200, 13%, 88%);
      border-radius: 0.5rem;
      padding: 2rem;
      transition: box-shadow 0.3s;

      div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        align-items: center;
        justify-items: center;
        transition: transform 0.3s;

        img {
          width: 136px;
          height: 136px;
        }

        h4 {
          white-space: nowrap;
        }
      }
    }

    .cta__link:hover {
      box-shadow: 0 5px 10px hsl(200, 13%, 80%);
    }

    .cta__link:hover div {
      transform: translateY(-5px);
    }
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@        BREAKPOINTS        @@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media screen and (max-width: 1024px) {
  .cta {
    .cta__container {
      gap: 1rem;

      .cta__link div {
        grid-template-columns: 1fr;

        img {
          width: 96px;
          height: 96px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .cta {
    .cta__container {
      grid-template-columns: 1fr;

      .cta__link {
        padding: 1.5rem;
      }
    }
  }
}

@media screen and (max-width: 374px) {
  .cta {
    .cta__container {
      .cta__link div {
        img {
          width: 80px;
          height: 80px;
        }
      }
    }
  }
}
