.features {
  .features__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    .features__box {
      text-align: center;
      background: var(--container-color);
      border: 1px solid hsl(200, 13%, 88%);
      border-radius: 0.5rem;
      padding: 2rem 1.5rem;
      transition: box-shadow 0.3s;

      div {
        transition: transform 0.3s;
      }

      i {
        background: linear-gradient(
          45deg,
          hsla(42, 100%, 55%, 0.5),
          hsla(203, 95%, 30%, 0.2)
        );
        display: inline-block;
        padding: 0.7rem;
        border-radius: 50%;
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
      }

      h5 {
        margin-bottom: 1.5rem;
      }
    }

    .features__box:hover {
      box-shadow: 0 5px 10px hsl(200, 13%, 80%);
    }

    .features__box:hover div {
      transform: translateY(-5px);
    }
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@        BREAKPOINTS        @@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media screen and (max-width: 1024px) {
  .features {
    .features__container {
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
    }
  }
}

@media screen and (max-width: 767px) {
  .features {
    .features__container {
      grid-template-columns: 1fr;
      gap: 1rem;

      .features__box {
        padding: 2rem 1rem;
      }
    }
  }
}
