.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  color: var(--text-color-light);
  font-size: 0.9rem;
}

.nav,
.nav__list,
.dropdown-box,
.nav__buttons {
  display: flex;
  align-items: center;
}

.nav__logo {
  img {
    display: flex;
    width: 112px;
  }
}

.nav__item {
  margin-right: 1.5rem;
}

.nav__link,
.nav__link-disabled {
  padding-block: 2rem;
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
}

.nav__link,
.nav__link-disabled,
.nav__link-disabled ~ i {
  color: hsl(200, 13%, 85%);
}

.nav__link,
.nav__link-disabled ~ i {
  transition: color 0.3s;
}

.nav__link:hover,
.nav__link-disabled:hover {
  color: hsl(42, 100%, 65%);
}

.nav__link-disabled:hover ~ i {
  color: hsl(42, 100%, 65%);
}

.nav__buttons {
  margin-right: auto;
  gap: 0.5rem;

  a {
    padding: 0.5rem 1.5rem;
    color: var(--title-color-light);
    transition: 0.4s;
  }

  a:first-child:hover {
    color: hsl(42, 100%, 65%);
  }
}

.dropdown {
  position: relative;

  .dropdown-menu {
    position: absolute;
    top: 4rem;
    right: 0;
    padding-top: 1rem;

    transform: translateY(1rem);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s, transform 0.5s;

    li {
      background: hsl(195, 14%, 15%);
      padding-inline: 1rem;
    }

    li:first-child {
      border-radius: 0.5rem 0.5rem 0 0;
    }

    li:last-child {
      border-radius: 0 0 0.5rem 0.5rem;
    }

    li:not(:last-child) > .nav__link {
      border-bottom: 1px solid hsl(195, 14%, 20%);
    }

    .nav__link,
    .nav__link-disabled {
      width: 100%;
      padding-left: 2rem;
      padding-block: 1rem;
    }
  }
}

.dropdown:hover .dropdown-menu {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.nav__menu-header,
.nav__menu-buttons,
.nav__toggle {
  display: none;
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@  BREAKPOINTS  @@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media screen and (max-width: 1024px) {
  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    background: hsla(195, 14%, 11%, 0.5);
    backdrop-filter: blur(5px);
    transition: opacity 0.3s;
  }

  .nav__buttons {
    display: none;
  }

  .nav__toggle,
  .nav__close {
    display: flex;
    font-size: 1.6rem;
    color: hsl(200, 13%, 85%);
    cursor: pointer;
  }

  .nav__close {
    display: inline-block;
    margin-left: 0.3rem;
  }

  .nav,
  .nav__menu-header,
  .nav__menu-buttons {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__menu-header {
    padding-inline: 1.5rem;
    border-bottom: 1px solid hsl(195, 14%, 20%);
  }

  .nav__menu {
    background: hsl(195, 14%, 11%);
    position: fixed;
    right: -100%;
    top: 0;
    width: 45%;
    height: 100vh;
    z-index: 100;
    transition: right 0.3s ease-in-out;
  }

  .nav__list {
    align-items: flex-start;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    padding-inline: 1.5rem;
    padding-bottom: 10rem;
  }

  .nav__list::-webkit-scrollbar {
    display: none;
  }

  .nav__item {
    margin-right: 0;
    width: 100%;
  }

  .nav__link,
  .nav__link-disabled {
    width: 100%;
    padding-block: 1rem;
    border-bottom: 1px solid hsl(195, 14%, 20%);
  }

  .nav__item:last-child .nav__link {
    border-bottom: none;
  }

  .nav__link-disabled:hover ~ i {
    color: var(--text-color-light);
  }

  .dropdown {
    i {
      background: hsla(203, 95%, 30%, 0.1);
      color: var(--text-color-light);
      border-radius: 0.2rem;
      font-size: 1.3rem;
      padding: 0.5rem;
      cursor: pointer;
      transition: transform 0.5s;
    }

    .dropdown-box {
      border-bottom: 1px solid hsl(195, 14%, 20%);

      span {
        border-bottom: none;
      }
    }

    .dropdown-menu {
      position: static;
      transform: translateY(0);
      max-height: 0;
      transition: opacity 0.5s ease-in-out, max-height 1s ease-in-out;

      li {
        background: hsl(195, 14%, 11%);
        padding-right: 0;
        padding-left: 0;
      }

      .nav__link,
      .nav__link-disabled {
        padding-left: 0;
      }

      li:not(:last-child) > .nav__link {
        border-bottom: 1px solid hsla(195, 14%, 20%, 0);
      }
    }

    .nav__link-disabled:hover {
      color: hsl(42, 100%, 65%);
    }

    .dropdown-menu {
      padding-top: 0;
    }
  }

  .dropdown:hover .dropdown-menu {
    transform: translateY(0);
    opacity: 0;
    pointer-events: none;
  }

  .nav__menu-buttons {
    background: hsl(195, 14%, 11%);
    border-top: 1px solid hsl(195, 14%, 20%);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    gap: 2rem;
    padding-inline: 1.5rem;

    a {
      width: 100%;
      text-align: center;
      padding: 0.7rem;
      color: var(--title-color-light);
    }
  }

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  // @@@@@@@@@@@@@ JS CLASSES @@@@@@@@@@@@@
  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  .show-menu {
    right: 0;
  }

  .show-overlay {
    opacity: 1;
    pointer-events: auto;
  }

  .dropdown.active .dropdown-menu {
    opacity: 1;
    pointer-events: auto;
    max-height: 1000px;
  }

  .dropdown.active .dropdown-box span {
    color: var(--primary-color);
  }

  .dropdown.active .dropdown-box i {
    transform: rotate(180deg);
  }
}

@media screen and (max-width: 767px) {
  .nav__logo {
    img {
      width: 104px;
    }
  }

  .nav__menu {
    width: 100%;
  }
}
